body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    margin-right: 25px;
}
.lista{
    display: flex;
}
.titular{
    text-align: center;
    margin-top: 200px;
}
h1 {
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 25px;
    margin-bottom: 40px;
}

a{
    font-size: 14px;
    background: #5cb8ff;
    padding: 20px 30px 20px 30px;
    color: white;
}
header{
    background: url(fondo3.jpg);
    height: 100vh;
    background-size: cover;
}
.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}
.contenedorSobreMi{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedorParrafoBoton{
    width: 42%;
}
.contenedorParrafo{
    margin-bottom: 30px;
}

.contenedorServicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio{
    width: 25%;
    padding: 38px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}

.violeta{
    background: #5055df;
}

.celeste{
    background: #40a8fa;
}

.servicio h4{
    font-size: 30px;
    margin: 0;
}

.servicio img{
    float: right;
}

.servicio p{
    font-size: 16px;
    height: 200px;
}

span{
    font-size: 80px;
    color: darkblue;
}

.owl-nav{
    text-align: center;
}

.contenedor-porque{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.contenedor-porque h4{
    margin: 0;
    font-size: 20px;
}
.contenedor-porque p{
    font-size: 16px;
    line-height: 30px;
}

.porque-singular{
    width: 28%;
}

#blog{
    background: #f9fafc;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contenedor-publicaciones{
    display: flex;
    justify-content: space-around;
}

.publicaciones{
    width: 30%;
    box-shadow: 1px 1px 16px #ccc;
    padding-bottom: 20px;
}

#blog img{
    width: 100%;
}

#blog h4{
    font-size: 23px;
    margin: 0;
    padding: 20px;
}

#blog p{
    color: #5a6561;
    line-height: 24px;
    font-size: 16px;
    padding: 10px 20px 20px 20px;
    margin: 0;
}

#blog a{
    display: inline-block;
    margin-left: 20px;
}

.publicacion-segunda img {
    height: 260px;
}

#que-esperas{
    background: linear-gradient(rgba(3, 101, 167, 0.96),rgba(95, 186, 219, 0.9));
    text-align: center;
    padding: 50px 0px 50px 0px;
}

#que-esperas h3{
    font-size: 23px;
    color: #fff;
    padding-bottom: 40px;
}

#que-esperas a{
    padding: 15px 45px 20px 45px;
    transition: 1s;
    transform: scale(1);
    display: inline-block;
}

#que-esperas a:hover{
    color: black;
    transition: 1s;
    transform: scale(1.4);
    display: inline-block;
}
